[submodule ".registry"]
	path = .registry
	url = https://github.com/panukatan/panukatan.r-universe.dev
	branch = HEAD
[submodule "bagyo"]
	path = bagyo
	url = https://github.com/panukatan/bagyo
[submodule "geokodigo"]
	path = geokodigo
	url = https://github.com/panukatan/geokodigo
[submodule "lindol"]
	path = lindol
	url = https://github.com/panukatan/lindol
[submodule "openbangsamoro"]
	path = openbangsamoro
	url = https://github.com/panukatan/openbangsamoro
[submodule "openmarawi"]
	path = openmarawi
	url = https://github.com/panukatan/openmarawi
[submodule "talaan"]
	path = talaan
	url = https://github.com/panukatan/talaan
