[submodule ".registry"]
	path = .registry
	url = https://github.com/panukatan/panukatan.r-universe.dev
	branch = HEAD
[submodule "openbangsamor"]
	path = openbangsamor
	url = https://github.com/panukatan/openbangsamoro
[submodule "openmarawi"]
	path = openmarawi
	url = https://github.com/panukatan/openmarawi
